{% extends 'music/base.html' %}

{% block title %} Album Details {% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}" alt="" style="width: 250px;height: 200px;">

    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>

    {% for song in album.song_set.all %}
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" alt=""/>
            {% endif %}
        </label>
        <br>
    {% endfor %}
{% endblock %}